/* ================================================================= */
/* ==================== CUSTOM STYLES FOR DRIVE ==================== */
/* display */
.f {
  display: flex;
}
.fcol {
  display: flex;
  flex-direction: column;
}
.fcolstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.fc {
  display: flex;
  align-items: center;
}
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fccc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.f_spbw {
  display: flex;
  justify-content: space-between;
}
.fcbw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fbw {
  display: flex;
  justify-content: space-between;
}
.fcolbw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.f1 {
  display: flex;
  flex: 1;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.f1bwcol {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.justc {
  justify-content: center;
}
.alignc {
  align-content: center;
}
.fend {
  display: flex;
  justify-content: flex-end;
}
.fwrap {
  display: flex;
  flex-wrap: wrap;
}
.alignC {
  align-self: center;
}
.justC {
  justify-self: center;
}
/* font */
.fss {
  font-size: 0.8rem;
}
.fsxl {
  font-size: 3rem;
}
.txtC {
  text-align: center;
}
.fwb {
  font-weight: bold;
}
.nowrap {
  white-space: nowrap;
}
.hov_line:hover {
  text-decoration: underline;
}
/* padding */
.pad-2 {
  padding: 2px;
  box-sizing: border-box;
}
.pad-4 {
  padding: 4px;
  box-sizing: border-box;
}
.pad-8 {
  padding: 8px;
  box-sizing: border-box;
}
.pad-16 {
  padding: 16px;
  box-sizing: border-box;
}
.pad-32 {
  padding: 32px;
  box-sizing: border-box;
}
.pad_lr-16 {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.pad-0 {
  padding: 0;
}
.bb {
  box-sizing: border-box;
}
/* scroll */
.sb_hid::-webkit-scrollbar {
  display: none;
}
.sb_hid {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ofYscr {
  overflow-y: scroll;
}
/* position */
.rel {
  position: relative;
}
.abs-0-0 {
  position: absolute;
  top: 0;
  left: 0;
}
.abs-50-0 {
  position: absolute;
  top: "50%";
  left: "0";
  right: "0";
}
/* height width */
.w-100 {
  width: 100%;
}
.w-20 {
  width: 20%;
}
.w-100p {
  width: 100px;
}
.w-32p {
  width: 32px;
}
.w-20p {
  width: 20px;
}
.h-100 {
  height: 100%;
}
/* cursor */
.pointer {
  cursor: pointer;
}
/* text */
.txtL {
  text-align: left;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tagline {
  font-family: "Cedarville Cursive", cursive;
  font-size: 1.2rem;
}
/* ================================================================= */

/* react context menu */
.react-contextmenu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #373a3c;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #373a3c;
  cursor: pointer;
  font-size: 0.8rem !important;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

/* RCT */

.react-checkbox-tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  font-size: 16px;
}
.react-checkbox-tree > ol {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.react-checkbox-tree ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.react-checkbox-tree ol ol {
  padding-left: 24px;
}
.react-checkbox-tree button {
  line-height: normal;
  color: inherit;
}
.react-checkbox-tree button:disabled {
  cursor: not-allowed;
}
.react-checkbox-tree .rct-bare-label {
  cursor: default;
}
.react-checkbox-tree label {
  margin-bottom: 0;
  cursor: pointer;
}
.react-checkbox-tree label:hover {
  background: rgba(51, 51, 204, 0.1);
}
.react-checkbox-tree label:active,
.react-checkbox-tree label:focus {
  background: rgba(51, 51, 204, 0.15);
}
.react-checkbox-tree:not(.rct-native-display) input {
  display: none;
}
.react-checkbox-tree.rct-native-display input {
  margin: 0 5px;
}
.react-checkbox-tree .rct-icon {
  display: inline-block;
  text-align: center;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free", "FontAwesome", sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
}

.rct-disabled > .rct-text > label {
  opacity: 0.75;
  cursor: not-allowed;
}
.rct-disabled > .rct-text > label:hover {
  background: transparent;
}
.rct-disabled > .rct-text > label:active {
  background: transparent;
}

.rct-text {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rct-options {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 0.5rem;
  text-align: right;
}

.rct-option {
  opacity: 0.75;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0 4px;
  font-size: 18px;
}
.rct-option:hover {
  opacity: 1;
}
.rct-option + .rct-option {
  margin-left: 2px;
}

.rct-collapse,
.rct-checkbox,
.rct-node-icon {
  padding: 0 5px;
}
.rct-collapse *,
.rct-checkbox *,
.rct-node-icon * {
  display: inline-block;
  margin: 0;
  width: 14px;
}

.rct-collapse {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border: 0;
  background: none;
  line-height: normal;
  color: inherit;
  font-size: 12px;
}
.rct-collapse.rct-collapse-btn {
  cursor: pointer;
}
.rct-collapse > .rct-icon-expand-close {
  opacity: 0.5;
}
.rct-collapse > .rct-icon-expand-close:hover {
  opacity: 1;
}

.rct-native-display .rct-checkbox {
  display: none;
}

.rct-node-clickable {
  cursor: pointer;
}
.rct-node-clickable:hover {
  background: rgba(51, 51, 204, 0.1);
}
.rct-node-clickable:focus {
  outline: 0;
  background: rgba(51, 51, 204, 0.2);
}

.rct-node-icon {
  color: #33c;
}

.rct-title {
  padding: 4px;
}

.rct-icons-fa4 .rct-icon-expand-close::before {
  content: "\f054";
}
.rct-icons-fa4 .rct-icon-expand-open::before {
  content: "\f078";
}
.rct-icons-fa4 .rct-icon-uncheck::before {
  content: "\f096";
}
.rct-icons-fa4 .rct-icon-check::before {
  content: "\f046";
}
.rct-icons-fa4 .rct-icon-half-check::before {
  opacity: 0.5;
  content: "\f046";
}
.rct-icons-fa4 .rct-icon-leaf::before {
  content: "\f016";
}
.rct-icons-fa4 .rct-icon-parent-open::before {
  content: "\f115";
}
.rct-icons-fa4 .rct-icon-parent-close::before {
  content: "\f114";
}
.rct-icons-fa4 .rct-icon-expand-all::before {
  content: "\f0fe";
}
.rct-icons-fa4 .rct-icon-collapse-all::before {
  content: "\f146";
}

.rct-icons-fa5 .rct-icon-expand-close::before {
  font-weight: 900;
  content: "\f054";
}
.rct-icons-fa5 .rct-icon-expand-open::before {
  font-weight: 900;
  content: "\f078";
}
.rct-icons-fa5 .rct-icon-uncheck::before {
  content: "\f0c8";
}
.rct-icons-fa5 .rct-icon-check::before {
  content: "\f14a";
}
.rct-icons-fa5 .rct-icon-half-check::before {
  opacity: 0.5;
  content: "\f14a";
}
.rct-icons-fa5 .rct-icon-leaf::before {
  content: "\f15b";
}
.rct-icons-fa5 .rct-icon-parent-open::before {
  content: "\f07c";
}
.rct-icons-fa5 .rct-icon-parent-close::before {
  content: "\f07b";
}
.rct-icons-fa5 .rct-icon-expand-all::before {
  content: "\f0fe";
}
.rct-icons-fa5 .rct-icon-collapse-all::before {
  content: "\f146";
}

.rct-direction-rtl {
  direction: rtl;
}
.rct-direction-rtl ol ol {
  padding-right: 24px;
  padding-left: 0;
}
.rct-direction-rtl.rct-icons-fa4 .rct-icon-expand-close::before {
  content: "\f105";
}
.rct-direction-rtl.rct-icons-fa5 .rct-icon-expand-close::before {
  content: "\f053";
}
